.profil-error {
	position: absolute;
	top: 9px;
	left: -3px;
	width: 14px;
	height: 14px;
	padding: 1px 6px;
	border-radius: 50px;
	background: #ff0000;
	color: #fff;
	font-size: 8px;
	margin-left: 5px;
}
.profile-block-hidden
{
	display: none;
}

.profile-block-shown
{
	display:block;
}

.profile-table
{
	width: 100%;
}

.profile-link
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.profile-table td {
	vertical-align: top;
	width:50%;
}

input[type=text],
input[type=password],
textarea {
	border: 0px;
	padding: 3px 5px;
	background-color: #fff;
	outline: 0px;
}


.btn-hidden {
	display: none !important;
}

.dopfiobtn,
.doptelbtn {
	display: inline-block;
}
.dopdelhidden {
	display: none !important;
}

.cool-line {
	display: block;
}

.cool-line::after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: #d1d5da;
	transition: width .3s;
}

.cool-line.activeborder::after {
	width: 100%;
//transition: width .3s;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	opacity: 0.3;
}
::-moz-placeholder { /* Firefox 19+ */
	opacity: 0.3;
}
:-ms-input-placeholder { /* IE 10+ */
	opacity: 0.3;
}
:-moz-placeholder { /* Firefox 18- */
	opacity: 0.3;
}

/**/
div[id*="comp_"] {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}