/* Прелоадер */
#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(246, 246, 246, 0.5);
}

#loader img {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 48%;
    left: 48%;
}

/* Список заявок */
.filter-block .my-1 {
    position: relative;
}

.filter-block .my-1 input {
    #width: 180px;
}

#filterId {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
}

#filterPrice {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
}

.filter-block.form2 {
    margin-top: 17px;
}

.filter-block .fa-search.text-search {
    color: #dee2e6;
}

.filter-block-submit {
    display: none;
}

tr.material {
    display: none;
}

tr.material td.text-center {
    border-top: 0px;
    background-color: #fff;
}

/* Материалы в заявках */

.group {
    text-align: left;
    margin-bottom: 5px;
}

.group .text-center {
    display: inline-block;
}

/* Быстрая фильтрация по статусам */
#filter-block .form-row {
    display: -webkit-box;
}

.text-center.text-lg-right.pt-2 {
    padding-top: 0px !important;
}

.my-1, .status-list {
    margin-top: 8px !important;
}

.status-list.all.active, .status-list.all:hover {
    background: #ff5500;
}

.status-list.unfinished.active, .status-list.unfinished:hover {
    background: #ff0c0c;
}

.status-list.processing.active, .status-list.processing:hover {
    background: #da6f5b;
}

.status-list.production.active, .status-list.production:hover {
    background: #ffe400;
}

.status-list.completed.active, .status-list.completed:hover {
    background: #1ae100;
}

/* Выгрузить заявки */
.date-block .date-from, .date-block .date-to {
    display: inline;
    position: relative;
}

.date-block .fa-calendar {
    position: absolute;
    top: 3px;
    right: 12px;
    color: #dee2e6;
    cursor: pointer;
}

.date-block .fa-search {
    position: absolute;
    top: 3px;
    right: 12px;
    color: #dee2e6;
    cursor: pointer;
}

.date-block .form-control.date {
    width: 194px;
    display: inline;
    margin-bottom: 8px;
}

.date-block .btn-cart {
    padding: 8px 20px;
}

/* Каталог материалов */
.katalog-materialov .basket-add.active {
    color: #fff;
    background: #ff5500;
    text-decoration: none;
}

.katalog-materialov .small-basket {
    display: none;
}

.katalog-materialov .small-basket.active {
    display: block;
}

/* Расчет стоимости */
#total-price img {
    width: 20px;
}

/* Создание заявки из файла */
#import-file .multifile {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Напоминание, незавершенные заявки */
#unfinished-order .modal-content {
    display: block;
    width: 100%;
    padding: 5px;
    border: 2px solid #ff5500;
    border-radius: 0px;
}

/* Отправить рекламацию */
#defect-order .modal-content {
    display: block;
    width: 100%;
    padding: 5px;
    border: 2px solid #ff5500;
    border-radius: 0px;
}

/* Автор заявки */
.full-name {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Информер с ролями */
.role-info-icon {
    position: fixed;
    bottom: 20px;
    left: 24px;
    margin: 10px;
    font-size: 24px;
    color: #ff5500;
    cursor: pointer;
}

.role-info {
    display: none;
    width: 350px;
    background: #f5f6f7;
    font-size: 14px;
    position: fixed;
    bottom: 70px;
    left: 24px;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    border: 3px solid #ff5500;
}

/* Фильтрация по коду точки */
#pointCode {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
}

#pointCodeContainer {
    display: none;
    background: #f5f6f7;
    margin: 5px;
    padding: 5px;
    border: 1px solid #e0e4e9;
    position: absolute;
    left: 0;
    width: 90%;
    font-size: 14px;
    z-index: 1;
}

.point-item {
    padding: 4px;
    cursor: pointer;
}

.point-item:hover {
    background: #ff5500;
    color: #fff;
}

/* Ссылки на прикрепленные файлы */
.filename a {
    color: #007bff !important;
}
