@font-face{
    font-family: 'BergenMono';
    src: url('../webfonts/BergenMono-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'BergenMono';
    src: url('../webfonts/BergenMono-Italic.woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'BergenMono';
    src: url('../webfonts/BergenMono-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'BergenMono';
    src: url('../webfonts/BergenMono-SemiBold.woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: 'BergenMono';
    src: url('../webfonts/BergenMono-SemiBoldItalic.woff2');
    font-weight: 900;
    font-style: italic;
}