erialov-spisok-rabotbody {
    color: #000;
    background: #fff;
    font-size: 1rem;
    font-family: 'BergenMono';
    font-weight: normal;
    font-style: normal;
}

/*reset boostrap*/
/*@media (min-width: 1200px) {*/
/*    .container {*/
/*        max-width: 1400px !important;*/
/*    }*/
/*}*/
/* // reset boostrap*/

#page-wrapper {
    min-height: 80vh;
}
.orange {
    color: #ff5500;
}

a {
    color:#000 !important;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color:#000;
    text-decoration: none;
}


/*header*/
.border-bottom-orange {
    border-bottom: 3px solid #ff5500;
}
.border-bottom-gray {
    border-bottom: 3px solid #858585;
}
.logout {
    font-weight: bold;
}
.nav-item.selected,
.nav-item:hover {
    background: #e0dfdf;
}
.nav-link {
    padding: 1rem 1.5rem;
}
.a_header {
    font-size: 20px;
}
.margin_bottom_2px {
    margin-bottom: 2px;
}
/* // header*/

/* h1 h2 h3 h4 h5 h6 */
h1 {
    font-size: 1.2rem !important;
    color: #797a7b;
}
/* // h1 h2 h3 h4 h5 h6 */



/*login form*/
/*кнопки*/
/*вход*/
/*регистрация*/
.btn-login {
    padding: 10px 30px;
    color: #fff;
    border:0;
    border-radius: 0.25rem;
    background: #ff5500;
    transition: all 0.2s ease-in-out;
}
.btn-login:hover {
    transform: scale(1.2);
}
.btn-login:hover,
a.btn-reg:hover {
    text-decoration: none;
}
.btn-reg {
    padding: 10px 30px;
    color: #000;
    border:0;
    border-radius: 0.25rem;
    background: #e0e4e9;
    transition: all 0.2s ease-in-out;
}
.btn-reg:hover {
    transform: scale(1.2);
    color: #fff;
    background: #ff5500;
}
/* // кнопки*/
/* // вход*/
/* // регистрация*/


/* форма */
.login-jumpica {
    max-width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
}
.form-login {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    padding: 40px;
    border: 3px solid #ff5500;
}
/* // форма */


/* // login form*/


/*remind password*/
.form-login-remind-send-container {
    margin-top: 40vh;
}
/* // remind password*/

/*remind send*/
.form-login-remind-send {
    font-weight: bold;
}
/* //remind send*/


/*registration*/
.reg-h1 h1 {
    font-weight: bold;
}
.breadcrumbs span {
    font-weight: bold;
}
.form-reg {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: auto;
}
.reg-end-block-a {
    margin-top: 20vh;
    height: 10vh;
}
.reg-end-block-b {
    margin-top: 20vh;
    height: 10vh;
}
.reg-end-block-c {
    margin-top: 20vh;
    height: 10vh;
}
/* // registration*/


/*welcome*/
i.border-gyrey {
    background: #e3e3e3;
    color: #000;
    padding: 7px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
i.border-gyrey:hover {
    color: #fff;
    background: #ff5500;
}
/* // welcome*/



/*кнопка*/
/*заявка*/
/*заказ*/
/*и прочие*/
.btn-cart {
    display: inline-block;
    padding: 7px 20px;
    color: #000;
    border: 0;
    font-size: 1rem;
    border-radius: 0.25rem;
    background: #e0e4e9;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.btn-cart:hover,
.btn-reg:hover {
    color: #fff !important;
    background: #ff5500;
    text-decoration: none;
}
.btn-cart.active,
.katalog-materialov .basket-add.active {
    color: #fff !important;
    background: #ff5500;
    text-decoration: none;
}
/* // кнопка*/
/* // заявка*/
/* // заказ*/
/* // и прочие*/


/*zayavka*/
.zayavka-end-content {
    margin-top: 30vh;
    font-size: 1.1rem;
}
.zayavka-end-content a {
    color: #0000FF !important;
}
/*bg color*/
.v-obrabotke,
.v-proizvodstve,
.vipolneno,
.nezavershennie {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
.type-status .v-obrabotke,
.type-status .v-proizvodstve,
.type-status .vipolneno,
.type-status .nezavershennie {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
}
.v-obrabotke {
    background: #da6f5b;
}
.v-proizvodstve {
    background: #ffe400;
}
.vipolneno {
    background: #1ae100;
}
.nezavershennie {
    background: #ff0c0c;
}
.type-status {
    font-size: 16px;
}
.zayavka-list a.border-gyrey {
    font-size: 16px;
    background: #e3e3e3;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.zayavka-delet {
    text-decoration: line-through;
}


.zayavka-breadcrumbs {
    display: flex;
    border-radius: 0.25rem;
    overflow: hidden;
    margin: auto;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 40px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    background-color: #e0e4e9;
    font-size: 14px;
}
.zayavka-breadcrumbs a {
    position: relative;
    display: flex;
    flex-grow: 1;
    text-decoration: none;
    margin: auto;
    height: 100%;
    padding-left: 38px;
    padding-right: 0;
    color: #666;
}
.breadcrumb__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.zayavka-breadcrumbs a:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 0;
    right: -28.1481481481px;
    background-color: #e0e4e9;
    border-top-right-radius: 5px;
    -webkit-transform: scale(0.707) rotate(45deg);
    transform: scale(0.707) rotate(45deg);
    box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.zayavka-breadcrumbs a:last-child:after {
    content: none;
}



.btn-deystvie-s-zakazom {
    display: block;
    padding: 7px 20px;
    color: #000;
    border: 0;
    font-size: 16px;
    border-radius: 0.25rem;
    background: #e0e4e9;
}
.zayavka-view-border-grey {
    padding: 10px;
    border: 3px solid #e3e3e3;
}

@media (min-width: 0px) {
    .zayavka-view-border-grey img {
        width: 100%;
        border: 3px solid #e3e3e3;
    }
}
@media (min-width: 576px) {
    .zayavka-view-border-grey img {
        width: 150px;
        border: 3px solid #e3e3e3;
    }
}

.form-zayavka-new {
    border: 3px solid #e3e3e3;
}

.zayavka-form-input input[type=text] {
    padding: 2rem 1rem !important;
}
.zayavka-form-input input[type=number] {
    padding: 0rem 1rem !important;
    height: 70px;
}
.zayavka-form-input-textarea {
    border: 3px solid #e3e3e3;
}
.zayavka-form-input-textarea-black {
    border: 1px solid #000;
    width: 60%;
}

.zayavka-new-form-border {
    border-radius: 0 !important;
}
.text-gradient {
    background: linear-gradient(135deg, #ffee00 20%, #fa6000 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.date-to {
    margin-right: 0;
}
@media (min-width: 1200px) {
    .date-to {
        margin-right: 12px;
    }
}


.order-play .fas {
    animation-name: angry-animation;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes angry-animation {
    0%{
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50%{
        opacity: 1;
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.order-info,
.order-copy,
.order-play,
.order-edit,
.order-delete,
.order-defect {
    margin-left: 5px;
    margin-right: 5px;
}

/* // zayavka*/


/*katalog materialov*/
.katalog-materialov img {
    border: 3px solid #e0e4e9;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
    border: 3px solid #e3e3e3;
}

.overlay_container:hover .overlay {
    opacity: 1;
    background-color: rgba(255,255,255,0.85);
}

.overlay_text {
    color: #000;
    font-size: 0.8rem;
    position: absolute;
    top: 10%;
    left: 10%;
    -webkit-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
    text-align: center;
}

.katalog-materialov-sales {
    font-size: 1.2rem;
}
.katalog-materialov-spisok-rabot {
    /*font-size: 15px;*/
    /*font-weight: bold;*/
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    border-left: 2px solid #e0e4e9;
    border-right: 2px solid #e0e4e9;
}
/* // katalog materialov*/


/* scroll up */
#toTop {
    background: #fa6000;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-family: "FontAwesome";
}
/* // scroll up */


.block-info-material.stuck {
    position: relative;
}
@media (min-width: 768px) {
    .block-info-material.stuck {
        position: fixed;
        z-index: 2;
        top: 0;
        width: 475px;
        background-color: #fff;
        padding-right: 30px;
    }

}