/* Трекинг-номер посылки */
.track-number {
    padding: 10px;
    border: 1px solid #ff5500;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    width: fit-content;
}

/* Заявка отклонена */
.rejected-info {
    padding: 10px;
    border: 1px solid #dc3545;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    width: fit-content;
}

/* Утверждение макета */
.layout-info {
    text-align: right;
}

.form-group.photo img {
    padding: 10px;
    margin: 5px;
    border: 1px solid #eee;
}